@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: boarder-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherbit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.button__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  color: #0F3D33;
  background-color: #50E3C2;
  padding: 15px 28px;
  font: bold 16px/19px "Inter", sans-serif;
}

/* Header Style */
.header {
  min-height: 145px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container {
  max-width: 1188px;
  margin: 0 auto;
  padding: 10px;
  width: 74%;
}
.header .header__container .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__body .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header__container .header__body .header__menu .menu__list .menu__item {
  margin-left: 30px;
}
.header .header__container .header__body .header__menu .menu__list .menu__item a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #DBE4F1;
}
.header .header__container .header__body .header__menu .menu__list .menu__item:hover {
  text-decoration: underline;
}

/* Content-top Style */
.content-top {
  background: url("../img/BG.jpg") center center no-repeat;
  padding: 185px 0 90px 0;
}
.content-top .content-top__container {
  max-width: 615px;
  margin: 0 auto;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-top .content-top__container .content-top__title {
  font: bold 46px/148% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  text-align: center;
}
.content-top .content-top__container .content-top__text {
  font: 20px/170% "Inter", sans-serif;
  text-align: center;
  color: #DBE4F1;
  margin-bottom: 27px;
}
.content-top .content-top__container .content-top__button {
  margin-bottom: 11px;
}
.content-top .content-top__container .content-top__not-cart {
  font: 14px/28px "Inter", sans-serif;
  color: #DBE4F1;
}
@media (min-width: 1600px) {
  .content-top {
    background: -webkit-gradient(linear, left top, left bottom, from(#39445a), to(#172444)) left/calc((100vw - 1600px)/2) 100% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#39445a), to(#172444)) right/calc((100vw - 1600px)/2) 100% no-repeat, url("../img/BG.jpg") center center no-repeat;
    background: linear-gradient(180deg, #39445a, #172444 100%) left/calc((100vw - 1600px)/2) 100% no-repeat, linear-gradient(180deg, #39445a, #172444 100%) right/calc((100vw - 1600px)/2) 100% no-repeat, url("../img/BG.jpg") center center no-repeat;
  }
}
@media (max-width: 573px) {
  .content-top {
    padding: 95px 0 90px 0;
  }
}

/* Feature Style */
.feature {
  padding: 146px 0 166px 0;
}
.feature .feature__container {
  max-width: 1125px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature .feature__container .feature__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .feature__container .feature__content-block .feature__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF5F6;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .feature__container .feature__content-block .feature__circle .circle__little {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FC5C65;
}
.feature .feature__container .feature__content-block .feature__title {
  font: bold 22px/34px "Inter", sans-serif;
  margin-bottom: 24px;
}
.feature .feature__container .feature__content-block .feature__text {
  width: 307px;
  font: 18px/34px "Inter", sans-serif;
  text-align: center;
}
.feature .feature__container .feature__line {
  height: 111px;
  border-right: 1px solid #E8E8EA;
  margin: 0 42px;
}
.feature .feature__container .feature__content-block:last-child .feature__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FAF6FF;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .feature__container .feature__content-block:last-child .feature__circle .circle__little {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #A665FB;
}
.feature .feature__container .feature__content-block:nth-child(3) .feature__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F5FDFB;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature .feature__container .feature__content-block:nth-child(3) .feature__circle .circle__little {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #50E3C2;
}
@media (max-width: 1199px) {
  .feature .feature__line {
    display: none;
  }
  .feature .feature__content-block {
    margin: 0 42px;
  }
  .feature .feature__content-block:last-of-type {
    margin-top: 30px;
  }
}
@media (max-width: 782px) {
  .feature {
    padding: 60px 0;
  }
  .feature .feature__content-block:nth-child(3) {
    margin-top: 30px;
    border-top: 1px solid #E8E8EA;
    border-bottom: 1px solid #E8E8EA;
    padding: 20px 0;
  }
}

/* Content-1 Style */
.content-1 {
  background-color: #F8FBFE;
  padding: 123px 0 225px 0;
}
.content-1 .content-1__container {
  max-width: 1085px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-1 .content-1__container .content-1__image-block {
  position: relative;
}
.content-1 .content-1__container .content-1__image-block .content-1__image-1 {
  position: absolute;
  margin-left: 30px;
  -webkit-box-shadow: 0 6px 20px 0 #0000001A;
          box-shadow: 0 6px 20px 0 #0000001A;
}
.content-1 .content-1__container .content-1__image-block .content-1__image-2 {
  position: absolute;
  top: 106px;
  left: 136px;
  -webkit-box-shadow: 0 22px 54px 0 #43578A4A;
          box-shadow: 0 22px 54px 0 #43578A4A;
}
.content-1 .content-1__container .content-1__content-block {
  width: 40%;
  margin: 56px 10px 0 0;
}
.content-1 .content-1__container .content-1__content-block .content-1__title {
  font: bold 38px/132% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #000000;
  margin-bottom: 14px;
}
.content-1 .content-1__container .content-1__content-block .content-1__text {
  font: 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 29px;
}
.content-1 .content-1__container .content-1__content-block .content-1__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  color: #0F3D33;
  background-color: #E6FBF6;
  padding: 15px 28px;
  font: bold 16px/19px "Inter", sans-serif;
}
@media (max-width: 992px) {
  .content-1 {
    padding: 50px 0;
  }
  .content-1 .content-1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-1 .content-1__container .content-1__content-block {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 34px 40px 0 40px;
  }
  .content-1 .content-1__container .content-1__image-block {
    position: relative;
    height: 460px;
    width: 472px;
  }
  .content-1 .content-1__container .content-1__image-block .content-1__image-1 {
    position: static;
    margin-left: 0;
  }
  .content-1 .content-1__container .content-1__image-block .content-1__image-2 {
    position: absolute;
  }
}
@media (max-width: 480px) {
  .content-1 .content-1__container .content-1__image-block {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }
  .content-1 .content-1__container .content-1__image-block .content-1__image-1 {
    width: 70%;
  }
  .content-1 .content-1__container .content-1__image-block .content-1__image-2 {
    width: 70%;
    top: 30%;
    left: 30%;
  }
}

/* Content-2 Style */
.content-2 {
  padding: 120px 0 120px 0;
}
.content-2 .content-2__container {
  max-width: 1085px;
  margin: 0 auto 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-2 .content-2__container .content-2__content-block {
  width: 41%;
  margin: 34px 0 0 40px;
}
.content-2 .content-2__container .content-2__content-block .content-2__title {
  font: bold 38px/132% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #000000;
  margin-bottom: 14px;
}
.content-2 .content-2__container .content-2__content-block .content-2__text {
  font: 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 29px;
}
.content-2 .content-2__container .content-2__content-block .content-2__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  color: #0F3D33;
  background-color: #E6FBF6;
  padding: 15px 28px;
  font: bold 16px/19px "Inter", sans-serif;
}
.content-2 .content-2__container .content-2__image-block {
  position: relative;
  margin-right: 20px;
}
.content-2 .content-2__container .content-2__image-block .content-2__image-1 {
  position: absolute;
  top: 65px;
  left: -320px;
  -webkit-box-shadow: 0 22px 54px 0 #00000023;
          box-shadow: 0 22px 54px 0 #00000023;
}
.content-2 .content-2__container .content-2__image-block .content-2__image-2 {
  position: absolute;
  right: 180px;
  -webkit-box-shadow: 0 22px 54px 0 #00000023;
          box-shadow: 0 22px 54px 0 #00000023;
}
@media (max-width: 1030px) {
  .content-2 {
    padding: 50px 0;
  }
  .content-2 .content-2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-2 .content-2__container .content-2__content-block {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 34px 40px 0 40px;
  }
  .content-2 .content-2__container .content-2__image-block {
    position: relative;
    height: 410px;
    width: 545px;
  }
  .content-2 .content-2__container .content-2__image-block .content-2__image-1 {
    position: static;
    margin-top: 65px;
    margin-left: 0;
  }
  .content-2 .content-2__container .content-2__image-block .content-2__image-2 {
    position: absolute;
    right: -10px;
  }
}
@media (max-width: 580px) {
  .content-2 .content-2__container {
    margin: 0 auto;
  }
  .content-2 .content-2__container .content-2__image-block {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }
  .content-2 .content-2__container .content-2__image-block .content-2__image-1 {
    width: 50%;
    margin-top: 20%;
  }
  .content-2 .content-2__container .content-2__image-block .content-2__image-2 {
    width: 70%;
  }
}

/* Pricing Style */
.pricing {
  background-color: #F8FBFE;
  padding: 120px 0 147px 0;
}
.pricing .pricing__container {
  max-width: 770px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing .pricing__container .pricing__title {
  font: bold 38px/132% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
.pricing .pricing__container .pricing__text {
  font: 18px/178% "Inter", sans-serif;
  color: #323232;
  margin-bottom: 60px;
  text-align: center;
}
.pricing .pricing__container .pricing__button {
  padding: 4px;
  border: 1px solid #E8E8EA;
  border-radius: 23px;
}
.pricing .pricing__container .pricing__button .button__period:first-of-type {
  width: 126px;
  padding: 6px 40px 4px 40px;
  background-color: transparent;
  border-radius: 23px;
  font: 600 12px/233% "Inter", sans-serif;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #0F3D33;
  cursor: pointer;
}
.pricing .pricing__container .pricing__button .button__period:last-of-type {
  width: 126px;
  padding: 6px 40px 4px 40px;
  background-color: #50E3C2;
  border-radius: 23px;
  font: 600 12px/233% "Inter", sans-serif;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #0F3D33;
  cursor: pointer;
}

/* List Style */
.list {
  padding-bottom: 107px;
}
.list .list__container {
  max-width: 750px;
  margin: -106px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list .list__container .list__tariff-block {
  width: 350px;
  padding: 28px 70px 29px 44px;
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
}
.list .list__container .list__tariff-block .tariff-block__tariff {
  font: bold 13px/246% "Inter", sans-serif;
  letter-spacing: 0.433333px;
  text-transform: uppercase;
  color: #878B90;
  margin-bottom: 17px;
}
.list .list__container .list__tariff-block .tariff-block__price {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5px;
}
.list .list__container .list__tariff-block .tariff-block__price .dollar {
  font: bold 30px/36px "Inter", sans-serif;
  letter-spacing: -1.2px;
  margin-top: 10px;
}
.list .list__container .list__tariff-block .tariff-block__price .price {
  font: bold 46px/130% "Inter", sans-serif;
  letter-spacing: -0.3px;
  margin: 0 4px 0 1px;
}
.list .list__container .list__tariff-block .tariff-block__price .slash {
  font: bold 17px/21px "Inter", sans-serif;
  margin-top: 30px;
  margin-right: 6px;
}
.list .list__container .list__tariff-block .tariff-block__price .month {
  font: bold 17px/21px "Inter", sans-serif;
  letter-spacing: -0.3px;
  margin-top: 30px;
}
.list .list__container .list__tariff-block .tariff-block__description {
  font: 14px/164% "Inter", sans-serif;
  letter-spacing: -0.4px;
  color: #323232;
  margin-bottom: 26px;
}
.list .list__container .list__tariff-block .tariff-block__list {
  font: 18px/178% "Inter", sans-serif;
  letter-spacing: -0.45px;
  color: #000000;
  margin-bottom: 31px;
}
.list .list__container .list__tariff-block .tariff-block__button {
  margin-bottom: 14px;
}
.list .list__container .list__tariff-block .tariff-block__requirements {
  font: 14px/200% "Inter", sans-serif;
  letter-spacing: -0.4px;
  color: #666666;
  margin-left: 4px;
}
.list .list__container .list__tariff-block:first-child .tariff-block__item:nth-child(3),
.list .list__container .list__tariff-block:first-child .tariff-block__item:last-of-type {
  color: #8E8E8E;
}
.list .list__container .tariff-block__item span {
  text-decoration: line-through;
}
.list .list__container .tariff-block__item:before {
  content: "✔";
  margin-right: 9px;
}
.list .list__container .list__tariff-block:last-of-type {
  border-top: 4px solid #50E3C2;
}
@media (max-width: 767px) {
  .list .list__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list .list__container .list__tariff-block {
    -webkit-box-shadow: 0 6px 20px -1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 20px -1px rgba(0, 0, 0, 0.1);
  }
  .list .list__container .list__tariff-block:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .list .list__container .list__tariff-block {
    width: 300px;
    padding: 28px 20px 29px 20px;
  }
}

/* Testimonial Style */
.testimonial {
  padding: 0 0 142px 0;
}
.testimonial .testimonial__container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}
.testimonial .testimonial__container .testimonial__body {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review {
  border: 1px solid #E8E8EA;
  width: 380px;
  padding: 0 55px 48px 46px;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review .testimonial__quotes {
  font: 98px/119px "Inter", sans-serif;
  letter-spacing: -0.1px;
  color: #DBE4F1;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review .testimonial__text {
  font: 18px/178% "Inter", sans-serif;
  letter-spacing: -0.1px;
  color: #000000;
  margin-bottom: 40px;
  min-height: 160px;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review .testimonial__author-block {
  margin-left: 75px;
  letter-spacing: -0.3px;
  color: #323232;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review .testimonial__author-block .testimonial__author {
  font: bold 16px/175% "Inter", sans-serif;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review .testimonial__author-block .testimonial__from {
  font: 14px/200% "Inter", sans-serif;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review:first-child {
  border-radius: 10px 0 0 10px;
}
.testimonial .testimonial__container .testimonial__body .testimonial__review:last-child {
  border-radius: 0 10px 10px 0;
}
@media (max-width: 1159px) {
  .testimonial .testimonial__container .testimonial__review:nth-child(2) {
    display: none;
  }
  .testimonial .testimonial__container .testimonial__review:last-child {
    border-radius: 0 10px 10px 0;
  }
}
@media (max-width: 779px) {
  .testimonial .testimonial__container .testimonial__body .testimonial__review:first-child {
    border-radius: 10px 10px 0 0;
  }
  .testimonial .testimonial__container .testimonial__body .testimonial__review:last-child {
    border-radius: 0 0 10px 10px;
  }
}

/* Footer Style */
.footer {
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
  padding: 60px 0 41px 0;
}
.footer .footer__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer .footer__container .footer__menu {
  margin-bottom: 86px;
}
.footer .footer__container .footer__menu .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer__container .footer__menu .footer__list .footer__item {
  width: 14%;
  font: 14px/229% "Inter", sans-serif;
  color: #DBE4F1;
  opacity: 0.7;
}
.footer .footer__container .footer__menu .footer__list .footer__item .submenu__item {
  margin-bottom: 12px;
}
.footer .footer__container .footer__menu .footer__list .footer__item .submenu__item a {
  color: #F8FBFE;
  font: 16px/212% "Inter", sans-serif;
}
.footer .footer__container .footer__menu .footer__list .footer__item .submenu__item:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__menu .footer__list .footer__item .submenu__item:first-child {
  margin-top: 23px;
}
.footer .footer__container .footer__menu .footer__list .footer__item:not(:last-of-type) {
  margin-right: 69px;
}
.footer .footer__container .footer__information-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__information-block .information-block__rights {
  font: 12px/150% "Inter", sans-serif;
  color: #DBE4F1;
}
.footer .footer__container .footer__information-block .information-block__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer__container .footer__information-block .information-block__links-list .links-list__item:not(:last-of-type) {
  margin-right: 20px;
}
.footer .footer__container .footer__information-block .information-block__links-list .links-list__item a {
  font: 12px/150% "Inter", sans-serif;
  color: #DBE4F1;
}
.footer .footer__container .footer__information-block .information-block__links-list .links-list__item:hover {
  text-decoration: underline;
}
.footer .footer__container .footer__information-block .social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer__container .footer__information-block .social-networks__list .social-networks__item:not(:last-of-type) {
  margin-right: 19px;
}
@media (max-width: 480px) {
  .footer .footer__container .footer__menu {
    margin-bottom: 30px;
  }
  .footer .footer__container .footer__information-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__container .footer__information-block > ul {
    margin-top: 20px;
  }
}